<!-- Footer -->
<div class="row bg-dark pt-2">
    <footer class="text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h6>About</h6>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p class="mb-0">
                        Kididoudou, boutique en ligne spécialisé dans la vente de doudou et peluches sur internet. Une question ou besoin d'un conseil n'hésitez pas
                        <a class="text-info" href="webmaster@kididoudou.com">nous contacter</a>, nous sommes pour vous aider.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h6>Informations</h6>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a class="text-info" href="">Link 1</a></li>
                        <li><a class="text-info" href="">Link 2</a></li>
                        <li><a class="text-info" href="">Link 3</a></li>
                        <li><a class="text-info" href="">Link 4</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <h6>Autres Liens</h6>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a class="text-info" href="">Link 1</a></li>
                        <li><a class="text-info" href="">Link 2</a></li>
                        <li><a class="text-info" href="">Link 3</a></li>
                        <li><a class="text-info" href="">Link 4</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h6>Contact</h6>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home mr-2"></i> Kididoudou</li>
                        <li><i class="fa fa-envelope mr-2"></i> webmaster@kididoudou.com</li>
                        <li><i class="fa fa-phone mr-2"></i> + 33 00 00 00 00</li>
                        <li><i class="fa fa-print mr-2"></i> + 33 00 00 00 00</li>
                    </ul>
                </div>
                <div class="col-12 copyright mt-3">
                    <p class="float-left">
                        <a class="text-info" href="#">Back to top</a>
                    </p>
                    <p class="text-right text-muted">created with <i class="fa fa-heart"></i> by <a class="text-info" href=""><i>Kididoudou</i></a></p>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- <div class="row bg-info text-white font-weight-normal justify-content-md-center">
    <div class="col-sm">
        <p>@ Kididoudou 2020</p>
    </div>
    <div class="col-lg-3 col-12 p-1 border">
        < h6>Contact Information</ h6>
        <div>
            <p class="m-0"> <i class="fa fa-location-arrow" aria-hidden="true"></i>Kididoudou<br> 6 Fake Avenue Simiane-Collongue</p>
            <p class="m-0"> <i class="fa fa-phone" aria-hidden="true "></i>+33 6 31 18 00 00</p>
            <p class="m-0"> <i class="fa fa-envelope-open" aria-hidden="true"></i>webmaster@kididoudou.com </p>
        </div>
    </div>
</div> -->