<p>commande works!</p>


<div class="row products">
    <div class="container my-2 py-3 z-depth-1">

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <form class="card-body">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 mb-2">

                        <!--firstName-->
                        <div class="md-form ">
                            <input type="text" id="firstName" class="form-control">
                            <label for="firstName" class="">First name</label>
                        </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 mb-2">

                        <!--lastName-->
                        <div class="md-form">
                            <input type="text" id="lastName" class="form-control">
                            <label for="lastName" class="">Last name</label>
                        </div>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Username-->
                <div class="md-form input-group pl-0 mb-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control py-0" placeholder="Username" aria-describedby="basic-addon1">
                </div>

                <!--email-->
                <div class="md-form mb-5">
                    <input type="text" id="email" class="form-control" placeholder="youremail@example.com">
                    <label for="email" class="">Email (optional)</label>
                </div>

                <!--address-->
                <div class="md-form mb-5">
                    <input type="text" id="address" class="form-control" placeholder="1234 Main St">
                    <label for="address" class="">Address</label>
                </div>

                <!--address-2-->
                <div class="md-form mb-5">
                    <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite">
                    <label for="address-2" class="">Address 2 (optional)</label>
                </div>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Choose...</option>
                    <option>United States</option>
                  </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" id="state" required>
                    <option value="">Choose...</option>
                    <option>California</option>
                  </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <hr>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>

                <hr>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

        </div>
    </div>
</div>