<div class="row justify-content-md-center">
    <div class="card col-6 p-2 mt-1" style="background-image: url(../assets/images/banner.jpg);">
        <div class="text center p-5">
            <h1>La collection Bashful</h1>
            <small>Les BestSellers de chez Jellycat</small>
            <h3>à partir de €25</h3>
            <div class="text-center p-2">
                <button class="btn bg-light btn-sm mr-2">Acheter</button>
                <button class="btn bg-light btn-sm ">Découvrir</button>
            </div>
        </div>
    </div>
    <div class="col-4 pt-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bien choisir son doudou</h5>
                <p class="card-text text-justify">Le doudou est un objet traditionel incontournable que les enfants adoptent dès leur plus jeune âge. Il les aidera à explorer le monde en toute confiance. Pour vous aider à faire le bon choix, KidiDoudou a sélectionné pour vous une gamme
                    de doudous et peluches de premier choix conforme aux normes NF et adapté aux tout-petits et spécialement très doux comme un doudou doit l'être...</p>
                <a href="#" class="btn btn-info btn-sm">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="col-2 pt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Baptiser son doudou</h5>
                <p class="card-text">Nommer son doudou et recevez un certificat de naissance de la date d'achat de votre doudou.</p>
                <a href="#" class="btn btn-info btn-sm">En savoir plus</a>
            </div>
        </div>
    </div>
    <!-- <div class="col-2 pt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Promotions</h5>
                <p class="card-text">Prix rond et promotion, pour faire plaisirs à moindre coup.</p>
                <a href="#" class="btn btn-info btn-sm">Voir</a>
            </div>
        </div>
    </div> -->
</div>