<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <td><img src=" https://dummyimage.com/50x50/55595c/fff " /> </td>
            <td>{{cartItems.titre}}</td>
            <td>In stock</td>
            <td><input class="form-control " type="text " value="{{cartItems.quantite}}" /></td>
            <td class="text-right ">{{cartItems.prix}} €</td>
            <td class="text-right ">{{cartItems.prix * cartItems.quantite}} €</td>
            <td class="text-right ">
                <button (click)="handledeleteToCart()" class=" btn btn-sm btn-danger "><i class="fa fa-trash "></i> </button> </td>
        </tr>
    </table>
</div>